* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.promo {
    background: url(../img/promo_bg.jpg) no-repeat center / cover;
    height: 700px;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}
  

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.burger_menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
}

.burger_menu span {
    width: 40px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
}

.promo h1 {
    font-size: 80px;
    text-transform: uppercase;
    color: white;
    margin-top: 100px;
    margin-bottom: 40px;
}

.btn {
    width: 230px;
    height: 50px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 60px;
    background: linear-gradient(92deg, #0499dd 0%, #17c1bc 100%);
    color: white;
    border: none;
}

.tour {
    padding: 100px 0;
}

.tour_head {
    display: flex;
    justify-content: space-between;
}

.title {
    font-weight: 700;
    font-size: 24px;
    color: #0499DD;
}

.tour_head a {
    font-weight: 500;
    font-size: 12px;
    color: #282828;
}

.tour_head a:hover {
    text-decoration: none;
}

.tour_box {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.tour_item {
    max-width: 360px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 210px 16px 40px;
    color: white;
    border-radius: 10px;
    padding-bottom: 50px;
}

.tour_item p {
    font-weight: 500;
    font-size: 12px;
}

.tour_item h3 {
    font-weight: 700;
    font-size: 14px;
    color: #FFC700;
    margin: 2px 0 10px;
}

.details {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 20px;
}

.details_item {
    font-weight: 500;
    font-size: 12px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.tour_item .btn {
    width: 160px;
    height: 40px;
    font-size: 12px;
    margin-top: 20px;
    cursor: pointer;
}

.about {
    background: url(../img/about.jpg) no-repeat center / cover;
    /* image + repeat + postion / size */
    padding: 135px 0;
}

.about_box {
    background: #EDEDED;
    border-radius: 10px;
    max-width: 540px;
    margin: 0 auto;
    padding: 60px 80px;
}

.about_box h2 {
    margin-bottom: 40px;
} 

.about_box p {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
    color: #282828;
}

.excursion {
    padding: 100px 0;
}


.excursion_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 90px;
}

.excursion_item {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.excursion_item h3 {
    font-weight: 700;
    font-size: 18px;
    color: #0499DD;
    margin-bottom: 10px;
}


.excursion_item p {
    font-weight: 500;
    font-size: 14px;
}



/* lg экран < 1200px */
@media (max-width: 1200px) {
    .tour_box {
        gap: 20px;
    }
}

/* md экран < 992px */
@media (max-width: 992px) {
   
}

/* sm экраны < 768px */
@media (max-width: 768px) {
    .promo h1 {
        font-size: 10vw;
    }

    .tour_box {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: -100%;
        background-color: rgba(0, 0, 0, 0.76);
        flex-direction: column;
        padding: 80px 50px;
        transition: 500ms;
    }

    .menu.active {
        display: flex;
        left: 0;
    }

    .burger_menu {
        display: flex;
    }

    .excursion_box {
        grid-template-columns: 1fr;
    }
    

    .tour_head a {
        display: none;
    }

    .about_box {
        padding: 30px;
    }
}

/* xs экраны < 576px */
@media (max-width: 576px) {
    
}

/* xss экраны < 360px  */
@media (max-width: 360px) {

}